<h4>Liste des sujets</h4>
<table class="table table-striped">
    <tr class="bg-info text-white">
        <th>Sujets</th>
        <!-- <th>Date</th> -->
        <!-- <th>Auteur</th> -->
        <th>Commentaire</th>
    </tr>
    <tr *ngFor="let poleTech of this.list">
        <th>{{poleTech.sujet}} moi
            <span class="badge">{{poleTech.date}} moi</span>
        </th>
        <th>{{poleTech.auteur}}</th>
        <th>
            <a href="" (click)="voirCommentaire(poleTech)">Voir les commentaires</a>
        </th>
    </tr>
</table>