<div class="body">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <img src="../../assets/img/logo1.png" alt="" width="90" height="80">
            </div>
            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <div class="lien">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/user">Accueil</a></li>
                        <li routerLinkActive="active"><a routerLink="/polegestion">Pôle de Gestion</a></li>
                        <li routerLinkActive="active"><a routerLink="/poleadministratif">Pôle Administratif</a></li>
                        <li routerLinkActive="active"><a routerLink="/poletechnologique">Pôle Technologique</a></li>
                    </ul>
                </div>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="main_container col-sm-10 col-sm-offset-2"><br>
            <div class="item">
                <div class="item centre col-md-12">
                    <div>
                        <h4>Posez votre question</h4><br>
                        <app-ajoutsujettech></app-ajoutsujettech>
                    </div><br>
                    <div>
                        <app-listesujettech></app-listesujettech>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr>
        <div class="info">
            <p>Centre de Formation Informatique</p>
            <p>Une idee en action</p>
        </div>
    </div>
</div>