<h4>Liste des sujets</h4>
<table class="table table-striped">
    <tr class="bg-info text-white">
        <th>Sujets</th>
        <!-- <th>Date</th> -->
        <!-- <th>Auteur</th> -->
        <th>Commentaire</th>
    </tr>
    <tr *ngFor="let poleAd of this.list">
        <th>{{poleAd.sujet}}
            <span class="badge">{{poleAd.date}}</span>
        </th>
        <th>{{poleAd.auteur}}</th>
        <th>
            <a href="" (click)="voirCommentaire(poleAd)">Voir les commentaires</a>
        </th>
    </tr>
</table>