<div class="body">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <img src="../../assets/img/logo1.png" alt="" width="90" height="80">
            </div>
            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <div class="lien">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/user">Accueil</a></li>
                        <li routerLinkActive="active"><a routerLink="/poleadministratif">Retour</a></li>
                    </ul>
                </div>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="main_container col-sm-10 col-sm-offset-2"><br>
            <div class="row">
                <div class="item centre col-md-12">
                    <div>
                        <h4>Posez votre question</h4><br>
                        <form class="forms-sample" [formGroup]="sujetForm" (submit)="ajoutCommentaire(sujetForm.value)" novalidate autocomplete="off">
                            <input type="hidden" name="idpoleAd" formControlName="idpoleAd">
                            <div class="">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Question: </label>
                                        <input type="text" class="form-control">
                                    </div><br>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="" class="control-label">Reponse: </label>
                                        <input type="text" name="reponse" formControlName="reponse" class="form-control">
                                        <em *ngIf="!Validatereponse() && sujetForm.controls.sujet.errors.pattern">commentaire</em>
                                    </div>
                                </div>
                            </div><br>
                            <button type="submit" class="btn btn-lg btn-info col-md-4" [disabled]="sujetForm.invalid">Ajouter</button>
                        </form>
                    </div><br>
                    <div>
                        <app-listecommentaire></app-listecommentaire>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <hr>
        <div class="info">
            <p>Centre de Formation Informatique</p>
            <p>Une idee en action</p>
        </div>
    </div>
</div>