<div class="body">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <img src="../../assets/img/logo1.png" alt="" width="90" height="80">
            </div>
            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <div class="lien">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/moduleformation">Module</a></li>
                        <li routerLinkActive="active"><a routerLink="/listeapprenantmoduleformation">Liste des modules</a></li>
                        <li routerLinkActive="active"><a routerLink="/messages">Discussion</a></li>
                        <li routerLinkActive="active"><a routerLink="/accueil">Connexion</a></li>

                        <!-- <li routerLinkActive="active" *ngIf="!isAuth">
                            <a routerLink="auth/signin">Connexion</a>
                        </li>
                        <li>
                            <a (click)="onSignOut()" style="cursor:pointer" *ngIf="isAuth">Déconnexion</a>
                        </li> -->
                    </ul>
                </div>
                <!-- <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul> -->
            </div>
        </div> <br><br>
        <div>
            <div class="">
                <img src="../../assets/img/5818.jpg" alt="" width="1600" height="600"> <br><br>
                <hr>
            </div>
            <div class="info">
                <p>Centre de Formation Informatique</p>
                <p>Une idee en action</p>
            </div>
        </div>
    </div>
</div>