<div class="main_container col-sm-10 col-sm-offset-2">
    <h2 class="display-7 text-center">Enregistrement du formateur</h2><br>
    <div class="row">
        <div class="item centre col-md-8">
            <form class="forms-sample" [formGroup]="agentForm" (submit)="ajoutFormateur(agentForm.value)" novalidate autocomplete="off">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="codeCompte">Code :</label>
                            <input type="text" name="codeCompte" class="form-control" formControlName="codeCompte" id="codeCompte" placeholder="Code">
                            <em *ngIf="!ValidatecodeCompte() && agentForm.controls.codeCompte.errors.required">Attention ce champs est vide</em>
                            <em *ngIf="!ValidatecodeCompte() && agentForm.controls.codeCompte.errors.pattern">Code invalide</em>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="nomUtilisateur">Nom utilisateur</label>
                            <input type="text" maxlength="10" name="nomUtilisateur" class="form-control" formControlName="nomUtilisateur" id="nomUtilisateur" placeholder="nom utilisateur">
                            <em *ngIf="!ValidatenomUtilisateur() && agentForm.controls.nomUtilisateur.errors.required">Attention ce champs est vide</em>
                            <em *ngIf="!ValidatenomUtilisateur() && agentForm.controls.nomUtilisateur.errors.pattern">nom invalide</em>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="motDePasse">Mot de passe</label>
                            <input type="password" maxlength="255" name="motDePasse" class="form-control" formControlName="motDePasse" id="motDePasse" placeholder="Mot de passe">
                            <em *ngIf="!ValidatemotDePasse() && agentForm.controls.motDePasse.errors.required">Attention ce champs est vide</em>
                            <em *ngIf="!ValidatemotDePasse() && agentForm.controls.motDePasse.errors.pattern">mot de passe invalide</em>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="confMotDePasse">Confirme mot de passe</label>
                            <input type="password" maxlength="255" name="confMotDePasse" class="form-control" formControlName="confMotDePasse" id="confMotDePasse" placeholder="Confirme le mot de passe">
                            <em *ngIf="!ValidateconfMotDePasse() && agentForm.controls.confMotDePasse.errors.required">Attention ce champs est vide</em>
                            <em *ngIf="!ValidateconfMotDePasse() && agentForm.controls.confMotDePasse.errors.mustMatch">mot de passe invalide</em>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="roleUtilisateur">Rôle</label>
                            <select name="roleUtilisateur" class="form-control" formControlName="roleUtilisateur" id="roleUtilisateur">
                                <option value="admin">Admin</option>
                                <option value="apprenant">Apprenant</option>
                                <option value="formateur">Formateur</option>
                            </select>
                            <em *ngIf="!ValidateroleUtilisateur() && agentForm.controls.roleUtilisateur.errors.required">Attention ce champs est vide</em>
                            <em *ngIf="!ValidateroleUtilisateur() && agentForm.controls.roleUtilisateur.errors.required">mot de passe invalide</em>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-block" [disabled]="agentForm.invalid">Ajouter</button>
            </form>
        </div>
        <div class="item centre2 col-md-12">
            <h3 class="display-8">Liste des formateurs</h3>
            <table class="table table-striped">
                <tr class="bg-info text-white">
                    <th>Code formateur</th>
                    <th>Nom formateur</th>
                    <th>Mot de passe</th>
                    <th class="text-center">Opération</th>
                </tr>
                <tr *ngFor="let For of this.list">
                    <td>{{For.codeCompte}}</td>
                    <td>{{For.nomUtilisateur}}</td>
                    <td>{{For.motDePasse}}</td>
                    <td class="text-center">
                        <a href="javascript:void(0);" (click)="editerFormateur(For)" class="btn btn-sm btn-outline-warning">Editer</a> /
                        <a href="javascript:void(0);" (click)="supprimerFormateur(For)" class="btn btn-sm btn-outline-danger">Supprimer</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>