<form class="forms-sample" [formGroup]="formationForm" (submit)="ajoutFormation(formationForm.value)" novalidate autocomplete="off">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="codeFormation">Code de la formation :</label>
                <input type="text" name="codeFormation" class="form-control" formControlName="codeFormation" id="codeFormation" placeholder="Code">
                <em *ngIf="!ValidatecodeFormation() && formationForm.controls.codeFormation.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidatecodeFormation() && formationForm.controls.codeFormation.errors.pattern">Code invalide</em>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="libelleFormation">Libellé de la formation :</label>
                <input type="text" maxlength="50" name="libelleFormation" class="form-control" formControlName="libelleFormation" id="libelleFormation" placeholder="libelle">
                <em *ngIf="!ValidatelibelleFormation() && formationForm.controls.libelleFormation.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidatelibelleFormation() && formationForm.controls.libelleFormation.errors.pattern">mot de passe invalide</em>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dureeFormation">Durée de la formation :</label>
                <input type="text" maxlength="50" name="dureeFormation" class="form-control" formControlName="dureeFormation" id="dureeFormation" placeholder="durée de la formation">
                <em *ngIf="!ValidatedureeFormation() && formationForm.controls.dureeFormation.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidatedureeFormation() && formationForm.controls.dureeFormation.errors.pattern">durée invalide</em>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="idPolFor"> libelle pole de formation :</label>
                <select name="idPolFor" class="form-control" formControlName="idPolFor" id="idPolFor">
                    <option value="">pole de formation</option>
                    <option *ngFor="let pole of this.liste" value="{{pole.idPolFor}}">{{pole.libellePolFor}}</option>
                </select>
                <em *ngIf="!ValidateidPolFor() && formationForm.controls.idPolFor.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidateidPolFor() && formationForm.controls.idPolFor.errors.pattern">libellé invalide</em>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="idAg">nom de l'agent :</label>
                <select name="idAg" class="form-control" formControlName="idAg" id="idAg">
                    <option value="">nom agent</option>
                    <option *ngFor="let agent of this.lyste" value="{{agent.idAg}}">{{agent.codeAg}} - {{agent.nomUtilisateur}}</option>
                </select>
                <em *ngIf="!ValidateidAg() && formationForm.controls.idAg.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidateidAg() && formationForm.controls.idAg.errors.pattern">nom invalide</em>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-block" [disabled]="formationForm.invalid">Ajouter</button>
</form>