<div class="body">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <img src="../../assets/img/logo1.png" alt="" width="90" height="80">
            </div>

            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <div class="lien">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/user">Accueil</a></li>
                        <li routerLinkActive="active"><a routerLink="/messages">Discussion</a></li>
                        <div>
                            <li routerLinkActive="active">
                                <a href="javascript:void(0);" (click)="deconnexion()">
                                    <span class="icon">
                                            <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
                                        </span>
                                    <span class="title">Déconnexion</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <!-- <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul> -->
            </div>
        </div>
        <div><br>
            <div class="main_container col-sm-10 col-sm-offset-2"><br>
                <div class="item">
                    <div class="item centre col-md-12">
                        <h4>La liste des formations</h4>
                        <table class="table table-striped">
                            <tr class="bg-info text-white">
                                <th>Nom de la formation</th>
                                <th class="text-center">Liste des modules</th>
                            </tr>
                            <tr *ngFor="let formation of this.liste">
                                <td>{{formation.libelleFormation}}</td>
                                <td class="text-center">
                                    <a href="javascript:void(0);" routerLink="/modulead/{{formation.idFormation}}" class="btn btn-sm btn-outline-warning">Voir les modules</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <div class="info">
                    <hr>
                    <p>Centre de Formation Informatique</p>
                    <p>Une idee en action</p>
                </div>
            </div>
        </div>
    </div>