<div class="body">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <img src="../../assets/img/logo1.png" alt="" width="90" height="80">
            </div>

            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <div class="lien">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/user">Accueil</a></li>
                        <li routerLinkActive="active"><a routerLink="/messages">Discussion</a></li>
                        <li routerLinkActive="active"><a routerLink="/accueil">Connexion/Déconnexion</a></li>
                    </ul>
                </div>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="main_container col-sm-10 col-sm-offset-2"><br>
            <h2 class="display-7 text-center">Liste des modules de formation</h2>
            <div class="item">
                <div class="item centre col-md-12">
                    <app-listemoduleformation></app-listemoduleformation>
                </div>
            </div>
            <div>
                <div class="info">
                    <hr>
                    <p>Centre de Formation Informatique</p>
                    <p>Une idee en action</p>
                </div>
            </div>
        </div>
    </div>