<div class="body">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <img src="../../assets/img/logo1.png" alt="" width="90" height="80">
            </div>
            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <div class="lien">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/user">Accueil</a></li>
                        <li routerLinkActive="active"><a routerLink="/listeapprenantmoduleformation">Liste des modules</a></li>
                        <li routerLinkActive="active"><a routerLink="/poleadmin">Pôle Administratif</a></li>
                        <li routerLinkActive="active"><a routerLink="/poleges">Pôle de Gestion</a></li>
                        <li routerLinkActive="active"><a routerLink="/poletech">Pôle Technologique</a></li>
                    </ul>
                </div>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="main_container col-sm-10 col-sm-offset-2">
            <div class="row center">
                <div class="item centre2 col-md-12">
                    <h3 class="display-6">Ajouter un nouveau sujet</h3>
                    <app-ajoutsujetad></app-ajoutsujetad>
                </div>
                <div class="item centre2 col-md-12">
                    <h3 class="display-8">Liste des sujets</h3>
                    <app-listesujetad></app-listesujetad>
                </div>
            </div>
        </div>
        <div>
            <hr>
            <div class="info">
                <p>Centre de Formation Informatique</p>
                <p>Une idee en action</p>
            </div>
        </div>
    </div>