.nofund {
    margin: auto;
    background-color: #e1ecf2;
    width: 1250px;
    height: 550px;
    margin-top: 80px;
    h1 {
        text-align: center;
        color: red;
        font-size: 50px;
        padding-top: 200px;
        text-decoration: underline;
    }
    h3 {
        text-align: center;
        margin: auto;
    }
    a {
        text-align: center;
    }
}