<div class="body container-fluid">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="main_container col-sm-10 col-sm-offset-2">
            <h2 class="display-7 text-center">Modification du pole de formation</h2><br>
            <div class="row">
                <div class="item centre col-md-10">
                    <form class="forms-sample" [formGroup]="poleForm" novalidate autocomplete="off">
                        <div class="row">
                            <input type="hidden" name="idPolFor" class="form-control" formControlName="idPolFor">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="codePolFor">Code :</label>
                                    <input type="text" name="codePolFor" class="form-control" formControlName="codePolFor" id="codePolFor" placeholder="Code">
                                    <em *ngIf="!ValidatecodePolFor() && poleForm.controls.codePolFor.errors.required">Attention ce champs est vide</em>
                                    <em *ngIf="!ValidatecodePolFor() && poleForm.controls.codePolFor.errors.pattern">Code invalide</em>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="libellePolFor">Libellé :</label>
                                    <input type="text" maxlength="50" name="libellePolFor" class="form-control" formControlName="libellePolFor" id="libellePolFor" placeholder="libelle">
                                    <em *ngIf="!ValidatelibellePolFor() && poleForm.controls.libellePolFor.errors.required">Attention ce champs est vide</em>
                                    <em *ngIf="!ValidatelibellePolFor() && poleForm.controls.libellePolFor.errors.pattern">mot de passe invalide</em>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="idAg">nom de l'agent :</label> 
                                    <select hidden name="idAg" class="form-control" formControlName="idAg" id="idAg">
                                        <option *ngFor="let pole of this.list" value="1014">{{pole.nomUtilisateur}}</option>
                                    </select>
                                    <em *ngIf="!ValidateidAg() && poleForm.controls.idAg.errors.required">Attention ce champs est vide</em>
                                    <em *ngIf="!ValidateidAg() && poleForm.controls.idAg.errors.pattern">Code invalide</em>
                                </div>
                            </div> -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="idAg">nom de l'agent :</label>
                                    <input type="text" maxlength="50" name="idAg" class="form-control" formControlName="idAg" id="idAg" placeholder="">
                                    <em *ngIf="!ValidateidAg() && poleForm.controls.idAg.errors.required">Attention ce champs est vide</em>
                                    <em *ngIf="!ValidateidAg() && poleForm.controls.idAg.errors.pattern">Code invalide</em>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <button type="submit" (click)="modifierPole()" class="btn btn-lg btn-block btn-primary" [disabled]="poleForm.invalid">Modifier</button>
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" (click)="annulerPole()" class="btn btn-lg btn-block btn-dark ">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>