<div class="body">
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="top_menu">
                <div class="logo">Milane Parker Center</div>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/admin" class="active">
                        <span class="icon">
                                <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                            </span>
                        <span class="title">Accueil</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/agent">
                        <span class="icon">
                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                            </span>
                        <span class="title">Agent</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/formateur">
                        <span class="icon">
                                <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                            </span>
                        <span class="title">Formateur</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/apprenant">
                        <span class="icon">
                                <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                            </span>
                        <span class="title">Apprenant</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/poleformation">
                        <span class="icon">
                                <i class="glyphicon glyphicon-list" aria-hidden="true"></i>
                            </span>
                        <span class="title">Pole de Formation</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/formation">
                        <span class="icon">
                                <i class="glyphicon glyphicon-tag" aria-hidden="true"></i>
                            </span>
                        <span class="title">Formation</span>
                    </a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a routerLink="/moduleformation">
                        <span class="icon">
                                <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
                            </span>
                        <span class="title">Module formation</span>
                    </a>
                </li> -->
                <li routerLinkActive="active">
                    <a routerLink="/message">
                        <span class="icon">
                                <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
                            </span>
                        <span class="title">Message</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main_container col-sm-10 col-sm-offset-2">
            <div class="row">
                <div class="item centre col-md-8">
                    <h3 class="display-7 text-center">Enregistrement du pole de formation</h3><br>
                    <app-ajoutpoleformation></app-ajoutpoleformation>
                </div>
                <div class="item centre2 col-md-12">
                    <h3 class="display-8">Liste des pôles des formations</h3>
                    <app-listepoleformation></app-listepoleformation>
                </div>
            </div>
        </div>
    </div>
</div>