<form class="forms-sample" [formGroup]="apprenantForm" (submit)="ajoutApprenant(apprenantForm.value)" novalidate autocomplete="off">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="codeAp">Code apprenant:</label>
                <input type="text" name="codeAp" class="form-control" formControlName="codeAp" id="codeAp" placeholder="Code">
                <em *ngIf="!ValidatecodeAp() && apprenantForm.controls.codeAp.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidatecodeAp() && apprenantForm.controls.codeAp.errors.pattern">Code invalide</em>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="nomAp">Nom apprenant</label>
                <input type="text" maxlength="10" name="nomAp" class="form-control" formControlName="nomAp" id="nomAp" placeholder="nom apprenant">
                <em *ngIf="!ValidatenomAp() && apprenantForm.controls.nomAp.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidatenomAp() && apprenantForm.controls.nomAp.errors.pattern">nom invalide</em>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="motDePasseAp">Mot de passe</label>
                <input type="password" maxlength="255" name="motDePasseAp" class="form-control" formControlName="motDePasseAp" id="motDePasseAp" placeholder="Mot de passe">
                <em *ngIf="!ValidatemotDePasseAp() && apprenantForm.controls.motDePasseAp.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidatemotDePasseAp() && apprenantForm.controls.motDePasseAp.errors.pattern">mot de passe invalide</em>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="confMotDePasseAp">Confirme mot de passe</label>
                <input type="password" maxlength="255" name="confMotDePasseAp" class="form-control" formControlName="confMotDePasseAp" id="confMotDePasseAp" placeholder="Confirme le mot de passe">
                <em *ngIf="!ValidateconfMotDePasseAp() && apprenantForm.controls.confMotDePasseAp.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidateconfMotDePasseAp() && apprenantForm.controls.confMotDePasseAp.errors.mustMatch">mot de passe invalide</em>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="idAg">Nom agent</label>
                <select name="idAg" class="form-control" formControlName="idAg" id="idAg">
                    <option value="">nom agent</option>
                    <option *ngFor="let agent of this.lyste" value="{{agent.idAg}}">{{agent.codeAg}} - {{agent.nomUtilisateur}}</option>
                </select>
                <em *ngIf="!ValidateidAg() && apprenantForm.controls.idAg.errors.required">Attention ce champs est vide</em>
                <em *ngIf="!ValidateidAg() && apprenantForm.controls.idAg.errors.pattern">Champs invalide</em>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-block" [disabled]="apprenantForm.invalid">Ajouter</button>
</form>