<table class="table table-striped">
    <tr class="bg-info text-white">
        <th>Code module</th>
        <th>Titre du module</th>
        <th>Durée du module</th>
        <th>Libellé formation</th>
        <th class="text-center">Opération</th>
    </tr>
    <tr *ngFor="let module of this.list">
        <td>{{module.codeModule}}</td>
        <td>{{module.titreModule}}</td>
        <td>{{module.dureeModule}}</td>
        <td>{{module.idFormation}}</td>
        <td class="text-center">
            <a href="javascript:void(0);" (click)="supprimerModule(module)" class="btn btn-sm btn-outline-danger">Supprimer</a> /
            <a href="javascript:void(0);" (click)="editerModule(module)" class="btn btn-sm btn-outline-warning">Editer</a> /
            <a href="javascript:void(0);" *ngIf="!moduleStatus" (click)="onbloquer()" class="btn btn-sm btn-outline-danger">Bloquer</a> .
            <a href="javascript:void(0);" *ngIf="moduleStatus" (click)="ondebloquer()" class="btn btn-sm btn-outline-success">Débloqué</a>
            <a href="javascript:void(0);" *ngIf="!voirStatus" routerLink="/voirmoduleformation/{{module.idModule}}" class="btn btn-sm btn-outline-success">Module</a>
        </td>
    </tr>
</table>